{% extends 'base1.html.twig' %}
 {% block body %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<div style="...">
    <tr>
        <br>
        <h1> List Of Events </h1>
        <form method="post" action="{{ path('searchevent') }}">
            <label>Search</label>
            <input type="text" name="search"><input type="submit" value="Recherche">
        </form>
    </tr>
    <br><br><br>
    <tr>
        <table border="1">
            <tr>
                <th>Idevent</th>
                <th>Name</th>
                <th>Period</th>
                <th>Location</th>
                <th>Date  </th>
                <th>Available</th>
                <th>Price</th>
                <th>Delete</th>
                <th>Update</th>
            </tr>
            <tr {% for e in events %}>
                <td>{{ e.idevent }}</td>
                <td>{{ e.name }}</td>
                <td>{{ e.period }}</td>
                <td>{{ e.location }}</td>
                <td>{{ e.date|date('d-m-Y') }}</td>
                <td>{{ e.available }}</td>
                <td>{{ e.price }}</td>
                <td><a href=" {{ path('deleteevent',{'id':e.idevent}) }}">Delete</a></td>
                <td><a href=" {{ path('updateevent',{'id':e.idevent}) }}">Update </a></td>

            </tr {% endfor %}>


        </table>

    </tr>

</div>

</body>
</html>
 {% endblock %}


