{% extends 'base2.html.twig' %}
{% block html %}
    <!doctype html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>
    {% block body %}
        <h2 style="color:#AA3333;text-decoration: underline">
            <marquee behavior="" direction=""> Catalogue des Hotels </marquee></h2>

        <form method="post" action="{{ path('rechercheFront') }}">
            <label style="font-weight: bold">Recherche</label>
            <input type="text" name="rechFront"><input type="submit" value="Recherche" class="btn btn-success">
        </form>

        <table border="" class="table table-striped custom-table">
        <tr {%  for c in hotel %}>>
             <td>  Lieu :  {{ c.lieu }}</td>
    <td>  Chambre :   {{ c.chambre }}</td>
    <td>Etoile:{{ c.etoile }}</td>

    <td>     Hebergement : {{ c.hebergement }}</td>
    <td>   Nom : {{ c.nom }}</td>
</tr>
            {% endfor %} >
        </table>

    {% endblock %}
    </body>
    </html>

{% endblock %}